@import '/src/variables.scss';

#root {
  text-align: center;
  width: 100%;
}

.content-wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include themify($themes) {
    background: themed(main-background);
  }

  .todos-list {
    width: 100%;
    margin-top: -12%;

    @include desktop {
      max-width: $desktop-container-mw;
      margin-top: -3%;
    }

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      width: 80%;
      margin: 0 auto;
      border-radius: 0 0 10px 10px;
  
      padding: 1.3rem 1rem;
      color: $dark-grayish-blue;
      font-size: 12px;
  
      @include themify($themes) {
          background: themed(new-todo-background);
      }

      @include desktop {
        width: 100%;
        padding: .8rem 0rem;
      }

      .filters {
        border-top: none;
        display: none;
        width: 40%;
        padding: 0;

        @include desktop {
          display: flex;
        }
      }

      button {
        background: none;
        border: none;
        color: $dark-grayish-blue;
        font-weight: 700;
        cursor: pointer;
        font-size: 12px;
        transition: color .3s ease-in-out;

        &:hover {
          @include themify($themes) {
            color: themed(button-hover);
          }
        }

        @include desktop {
          margin-right: 1rem;
        }
      }
      
      & > span {
        @include desktop {
          margin-left: 1rem;
        }
      }
    }

    ul {
      li:first-of-type {
        
        .todo-wrapper {
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }

  & > .filters {
    @include desktop {
      display: none !important;
    }
  }

  .filters {
    width: 90%;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: .8rem 0rem;
    border-radius: 6px;

    @include desktop {
      max-width: $desktop-container-mw;
      margin-top: 0;
      border-top: 1px solid $dark-grayish-blue;
      border-radius: 0 0 6px 6px;
    }

    @include themify($themes) {
        background: themed(new-todo-background);
    }

    .filters-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        background: none;
        border: none;
        color: $dark-grayish-blue;
        font-weight: 700;
        cursor: pointer;
        font-size: 12px;
      }

      .active {
        color: $-bright-blue;
      }

      .inactive {

        transition: color .3s ease-in-out;
        
        &:hover {
          @include themify($themes) {
            color: themed(button-hover);
          }
        }
      }
    }
  }

  .drag {
    font-size: .8rem;
    color: $dark-grayish-blue;
    margin-top: 3.5rem;
  }
}