@import '/src/variables.scss';

header {
    height: 12rem;
    display: flex;
    align-items: flex-start;

    padding-top: 2rem;


    @include themify($themes) {
        background: themed(header-background);
    }

    .inner {
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        display: flex;
        width: 90%;

        @include desktop {
            width: $desktop-container-mw;
        }

        .logo {
            color: white;
            letter-spacing: 10px;
        }
    }


    button {
        background: none;
        border: none;
    }
}